@font-face {
    font-family: 'supermarket';
    src: url('../webfonts/supermarket.woff2') format('woff2'),
        url('../webfonts/supermarket.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

